<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs")%>
    <div class="container mt-5">
        <br>
        <div class="jumbotron" style="background-color:#2C2C2C; color:#FFF;">
            <h1 class="display-4">Olá, Cidadão!</h1>
            <p class="lead">Denuncie crimes de preconceito contra pessoas LGBTQI+</p>
            <hr class="my-4">
            <p>A discriminação e a violência contra pessoas LGBTQI+ são realidades graves que ferem os direitos humanos, ameaçam vidas e corroem os valores de respeito e diversidade em nossa sociedade. Para combater o preconceito e promover um ambiente mais justo e seguro para todas as pessoas, sua denúncia é essencial.
                Se você foi vítima ou presenciou atos de homofobia, transfobia ou qualquer forma de preconceito ou violência contra pessoas LGBTQI+, não se cale. Denunciar é um ato de coragem, solidariedade e defesa da dignidade humana.
                Clique no botão abaixo e faça sua denúncia de forma segura, anônima e confidencial. Sua voz pode salvar vidas, fortalecer direitos e construir uma sociedade mais inclusiva.

Junte-se a essa causa. Diga não ao preconceito. Denuncie!
            </p>
            <p class="lead">
              <a class="btn btn-lg" style="background-color: #D9B44A; color:#FFF;" href="/login" role="button">DENUNCIAR</a>
            </p>
          </div>
        <% Reports.forEach((one)=>{ %>
        <br>
        <div class="card mb-3" style="background-color:#2C2C2C; color:#FFF;">
            <div class="card-header">
                <h2><%= one.title %></h2>

            </div>
            <div class="card-body" style="background-color:#424242;">
                <a class="btn btn-primary"  href="/<%=one.slug%>">Visualizar descrição</a>
            </div>
            <div class="card-footer">
                <%= one.location %>
            </div>
        </div>
        <% }) %>
        <br>
        <div class="row" >
            
            <div class="col col-12"><a href="/Reports/page/2" style="float:right;"><i class="bi bi-arrow-right-square-fill">Next</i></a></div>
        </div>
        <br>
        <br>
    </div>

<%- include ("partials/footer.ejs") %>