<%- include ("../../partials/header") %>
<%- include ("../../partials/navbar") %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2> Alteração de Senha</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/users/update">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input class="form-control mb-3" type="email" name="email" value="<%= user.email %>" disabled="">
                <input class="form-control mb-3 " type="password" name="password" placeholder="Digite sua nova senha">
                <button class="btn btn-success btn-block mb-3">Alterar</button>
            </form>
        </div>

    </div>
</div>
<%- include ("../../partials/footer.ejs") %>